<!--<nav id="WPNavbar" class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand" href="#">Watpad</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--  <div id="header-item-logo">-->
<!--    <a href="/" class="on-navigate" title="Wattpad Home" aria-label="Home">-->
<!--      <img src="/img//logos/wp-logo-orange.png" alt="Wattpad" class="wp-logo hidden-xs" width="123">-->
<!--    </a>-->
<!--  </div>-->
<!--  <form id="header-item-search" name="search">-->
<!--    <button routerLink="/list">-->
<!--      <span class="fa fa-search fa-wp-neutral-1" aria-hidden="true" style="font-size: 16px;"></span>-->
<!--    </button>-->
<!--    <input type="hidden" name="ref" value="1">-->
<!--  </form>-->
<!--  <div id="authentication">-->
<!--    <div>-->
<!--      <button class="btn btn-sm">Đăng nhập</button>-->
<!--    </div>-->
<!--    <div id="language-dropdown" class="dropdown">-->
<!--      <a href="#">Tiếng Việt<span class="caret"></span>-->
<!--      </a>-->
<!--    </div>-->

<!--      <ul class="navbar-nav mr-auto" routerLinkActive="active">-->
<!--        <li class="nav-item">-->
<!--          <a href="/home" class="nav-link" routerLink="home">Trang chủ </a>-->
<!--        </li>-->
<!--        <li class="nav-item" *ngIf="showAdminBoard">-->
<!--          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>-->
<!--        </li>-->
<!--      </ul>-->

<!--      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">-->
<!--        <li class="nav-item">-->
<!--          <a href="/login" class="nav-link" routerLink="login">Đăng nhập</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="/register" class="nav-link" routerLink="register">Đăng ký</a>-->
<!--        </li>-->
<!--      </ul>-->

<!--      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">-->
<!--        <li class="nav-item">-->
<!--          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href class="nav-link" (click)="logout()">LogOut</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--  </div>-->
<!--  </div>-->
<!--</nav>-->

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/home">
      <img src="/docs/4.6/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Watpad
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Trang chủ </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Đăng ký</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
