<div *ngIf="(comic != undefined)">
<div class="container">
  <div class="row">
    <div class="story-header">
      <div class="story-cover">
        <img src="{{comic.cover_image}}">
      </div>
      <div class="story-infor">
        <div class="story-infor_title">
          <h1>{{comic.name}}</h1>
        </div>
        <div class="story-infor_author">
<!--          <img class="author-avatar" src="img/story_1.jpg">-->
          <div class="author-name">{{comic.author}}</div>
        </div>
        <div class="story-info_status">
          <div class="tag-item" style="background-color: rgb(141, 86, 16); color: rgb(255, 255, 255); border-radius: 15px; font-size: 10px; padding-left: 4px; padding-right: 4px; font-weight: 500" *ngIf="comic.full=='0'">Còn tiếp</div>
          <div class="tag-item" style="background-color: #1C6F65; color: rgb(255, 255, 255); border-radius: 15px; font-size: 10px; padding-left: 4px; padding-right: 4px; font-weight: 500" *ngIf="comic.full=='1'">Hoàn</div>
        </div>
        <ul class="story-infor_content">
          <li class="story-infor_content-read">
            <div class="stats-label"><i class="far fa-eye"></i>Lượt xem</div>
            <span class="stats-content">{{comic.watch_number}}</span>
          </li>
          <li class="story-infor_content-votes">
            <div class="stats-label"><i class="far fa-star"></i>Bình chọn</div>
            <span class="stats-content"></span>
          </li>
          <li class="story-infor_content-parts">
            <div class="stats-label"><i class="far fa-list-alt"></i>Số chương</div>
            <span class="stats-content">{{totalChapter()}}</span>
          </li>
        </ul>
        <div class="story-infor_button">
          <a routerLink="/reading/{{comic.id}}/{{first_chap_id}}" class="btn-reading" style="color: #fff">
            <i class="fas fa-book-open"></i>
            Đọc truyện
          </a>
          <button class="btn-add-to-lib">
            +
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="story-introduce">
        <h3>Giới thiệu truyện</h3>
        <div [innerHTML]="comic.description">
        </div>
      </div>
      <div class="story-chapter">
        <div class="chapter-title">Danh sách chương <span class="last-updated">Cập nhật lần cuối: <strong>{{last_update | date:"hh:mm - dd/MM/yyyy"}}</strong></span></div>
        <div class="chapter-content">
          <ul>
            <li *ngFor="let chapter of listChapter"><a routerLink="/reading/{{comic.id}}/{{chapter.id}}">{{chapter.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="story-list">
        <div class="list-title">
          <h3>Bạn có thể thích</h3>
        </div>
        <div class="list-item" *ngFor="let c of listComics, let i=index">
          <div *ngIf="i<2">
            <a routerLink="/detail/{{c.id}}" class="story-preview">
              <div class="preview-cover">
                <img src="{{c.cover_image}}">
              </div>
              <div class="preview-infor">
                <div class="preview-infor-title">
                  <div>{{c.name}}</div>
                </div>
                <div class="preview-infor-icon">
                  <div class="icon-parts">
                    <i class="far fa-list-alt"></i>
                    <span>36 chương</span>
                  </div>
                  <div class="icon-completed">
                    <div class="tag-item" style="background-color: rgb(141, 86, 16); color: rgb(255, 255, 255); border-radius: 15px; font-size: 10px; padding-left: 4px; padding-right: 4px; font-weight: 500" *ngIf="c.full=='0'">Còn tiếp</div>
                    <div class="tag-item" style="background-color: #1C6F65; color: rgb(255, 255, 255); border-radius: 15px; font-size: 10px; padding-left: 4px; padding-right: 4px; font-weight: 500" *ngIf="c.full=='1'">Hoàn</div>
                  </div>
                </div>
                <div class="preview-infor-description" [innerHTML]="c.description">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
