<div class="container">
  <div class="row">
    <div class="story-header">
      <div class="story-cover">
        <img src="img/story_1.jpg">
      </div>
      <div class="story-infor">
        <div class="story-infor_title">
          <h1>[Edit] All in love</h1>
        </div>
        <div class="story-infor_author">
          <img class="author-avatar" src="img/story_1.jpg">
          <div class="author-name">Cố Tây Tước</div>
        </div>
        <div class="story-info_status">
          <div class="tag-item" style="background-color: rgb(141, 86, 16); color: rgb(255, 255, 255); border-radius: 15px; font-size: 10px; padding-left: 4px; padding-right: 4px; font-weight: 500">Còn tiếp</div>
        </div>
        <ul class="story-infor_content">
          <li class="story-infor_content-read">
            <div class="stats-label"><i class="far fa-eye"></i>Lượt xem</div>
            <span class="stats-content">10.9K</span>
          </li>
          <li class="story-infor_content-votes">
            <div class="stats-label"><i class="far fa-star"></i>Bình chọn</div>
            <span class="stats-content">2.7K</span>
          </li>
          <li class="story-infor_content-parts">
            <div class="stats-label"><i class="far fa-list-alt"></i>Số chương</div>
            <span class="stats-content">43</span>
          </li>
        </ul>
        <div class="story-infor_button">
          <a class="btn-reading" style="color: #fff">
            <i class="fas fa-book-open"></i>
            Đọc truyện
          </a>
          <button class="btn-add-to-lib">
            +
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="story-introduce">
        <h3>Giới thiệu truyện</h3>
        <p>
          Từ Vi Vũ tính hơi hơi ưa sạch, da mặt cũng hơi hơi dày, ngoài ra còn hơi hơi bỉ ổi, nhưng anh trước mặt mọi người luôn luôn là một Từ Vi Vũ trăng thanh gió mát, tách biệt xa lạ, trong kiêu ngạo có lạnh lùng, trong lạnh lùng có xa cách, trong xa cách có cao sang.
          Nhưng cứ về đến nhà là anh nhập vào trạng thái “cuồng cởi”:
          “Tắm, tắm, tắm. Thanh Khê, em có muốn đến chà đạp anh không?”
          Thanh Khê nghĩ, liệu anh còn có thể bỉ ổi hơn được nữa không?
          Hoặc là: “Vợ ơi, nấu cơm cho anh đi, là yêu cầu hợp pháp đấy!”
          “Tình yêu, mua quần áo cho anh đi, anh hết quần áo mặc rồi, yêu cầu hợp pháp!”
          “Vợ, tối nay xem phim nhé, yêu cầu hợp pháp đấy!”
          “Thanh Khê này, hát tình ca cho anh đi, yêu cầu hợp pháp, yêu cầu hợp pháp nhé!”
          Những lúc như vậy, “bạn nhỏ” Thanh Khê phải cố gắng lắm mới không có hành vi “xử lý” phạm pháp với anh.
          Hạnh phúc là gì, hạnh phúc là mười ba năm trước, tan trường, có một cậu bé đi trước mặt bạn theo hình chữ S, mười ba năm sau, vẫn là cậu bé đó ôm bạn vào lòng, mặt dày nói: “Cố Thanh Khê, cả tuổi xuân của anh đều dành trọn cho em, vậy nên em phải chịu trách nhiệm với anh đấy!”
        </p>
      </div>
      <div class="story-chapter">
        <div class="chapter-title">Danh sách chương <span class="last-updated">Cập nhật lần cuối: <strong>12/04/22</strong></span></div>
        <div class="chapter-content">
          <ul>
            <li><a>Chương 1: Ngày đầu tiên</a></li>
            <li><a>Chương 1: Ngày đầu tiên</a></li>
            <li><a>Chương 1: Ngày đầu tiên</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="story-list">
        <div class="list-title">
          <h3>Bạn có thể thích</h3>
        </div>
        <div class="list-item">
          <a class="story-preview">
            <div class="preview-cover">
              <img src="img/story_1.jpg">
            </div>
            <div class="preview-infor">
              <div class="preview-infor-title">
                <div>All in love</div>
              </div>
              <div class="preview-infor-icon">
                <div class="icon-parts">
                  <i class="far fa-list-alt"></i>
                  <span>36 chương</span>
                </div>
                <div class="icon-completed">
                  <div class="tag-item" style="background-color: rgb(141, 86, 16); color: rgb(255, 255, 255); border-radius: 15px; font-size: 10px; padding-left: 4px; padding-right: 4px; font-weight: 500">Còn tiếp</div>
                </div>
              </div>
              <div class="preview-infor-description">
                "Thích em không phải do ưu điểm của em hay điều kiện của em, mà vì trong lòng có em nên mới thích"
              </div>
            </div>
          </a>
        </div>
        <div class="list-item">
          <a class="story-preview">
            <div class="preview-cover">
              <img src="img/story_1.jpg">
            </div>
            <div class="preview-infor">
              <div class="preview-infor-title">
                <div>All in love</div>
              </div>
              <div class="preview-infor-icon">
                <div class="icon-parts">
                  <i class="far fa-list-alt"></i>
                  <span>36 chương</span>
                </div>
                <div class="icon-completed">
                  <div class="tag-item" style="background-color: #1C6F65; color: rgb(255, 255, 255); border-radius: 15px; font-size: 10px; padding-left: 4px; padding-right: 4px; font-weight: 500">Hoàn</div>
                </div>
              </div>
              <div class="preview-infor-description">
                "Thích em không phải do ưu điểm của em hay điều kiện của em, mà vì trong lòng có em nên mới thích"
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
