
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row">
            <div class="col">
              <h3 class="page-title">Thêm admin</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="admin-list.html">Danh sách admin</a></li>
                <li class="breadcrumb-item active">Thêm admin</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /Page Header -->

        <div class="card">
          <div class="card-body">

            <!-- Form -->
            <form action="admin-list.html">
              <div class="form-group row">
                <label class="col-form-label col-md-2">ID</label>
                <div class="col-md-10">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-2">Tên</label>
                <div class="col-md-10">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-2">Email</label>
                <div class="col-md-10">
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-2">Hình ảnh</label>
                <div class="col-md-10">
                  <input class="form-control" type="file">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-2">Quyền hạn</label>
                <div class="col-md-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="checkbox"> Tất cả
                    </label>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <button class="btn btn-primary" type="submit">Thêm</button>
                <a href="add-admin.html" class="btn btn-link">Hủy</a>
              </div>
            </form>
            <!-- /Form -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
