
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Sửa nội dung chương </h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="blog.html">Truyện</a></li>
            <li class="breadcrumb-item"><a href="blog.html">Những ngày thơ bé</a></li>
            <li class="breadcrumb-item active">Sửa nội dung chương</li>
          </ul>
        </div>
        <!-- <div class="col-auto text-right">
          <a class="btn btn-white filter-btn" href="javascript:void(0);" id="filter_search">
            <i class="fas fa-filter"></i>
          </a>
          <a href="add-category.html" class="btn btn-primary add-button ml-3">
            <i class="fas fa-plus"></i>
          </a>
        </div> -->
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="card filter-card" id="filter_inputs">
      <div class="card-body pb-0">
        <form action="#" method="post">
          <div class="row filter-row">

            <!-- thay đổi ở đây ************************ -->
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label>Mã sản phẩm</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label>Tên sản phẩm</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <!-- Thay đổi theo danh sách đề mục -->

            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Chọn</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <!-- <table class="table table-hover table-center mb-0 datatable"> -->
              <!-- Thay đổi code ở đây Thay đổi theo file word -->
              <!-- Form -->
              <form action="categories.html">

                <div class="form-group">
                  <label>Tên</label>
                  <input class="form-control" type="text" value="Chương 1 _ Tiếng gió chiều">
                </div>
                <div class="form-group">
                  <label>Tóm tắt</label>
                  <textarea style="height: 100px;" class="form-control" type="text">Cây sen đá là loài rất dễ sống, không đòi hỏi được chăm sóc thường xuyên, mang ý nghĩa về một tình yêu bền chặt, trọn đời, vĩnh cửu. Cây là lựa chọn lý tưởng để trưng bày trên bàn làm việc, ngoài ban công hay bếp.</textarea>
                </div>
                <div class="form-group">
                  <label>Ngày xuất bản</label>
                  <input class="form-control" type="date" value="01/01/2022">
                </div>
                <div>
                  <label>Nội dung</label>
                  <textarea name="" id="textExample" cols="30" rows="10">
											<p>Cây sen đá là dòng thực vật mọng nước (Succulent plant) thuộc chi Echeveria họ thuốc bỏng (Crassulaceae). Ước tính có khoảng 60 họ sen đá khác nhau với gần 400 loài, trong đó hơn 90% phân bố chủ yếu ở vùng nóng gần xích đạo Mexico, Nam Mỹ, châu Úc và châu Phi.

												Tại Việt Nam, sen đá rất được ưa chuộng bởi đây là loại cây mới lạ có kỹ thuật trồng đơn giản và dễ chăm sóc. Sen đá có thể dễ dàng bố trí kết hợp với rất nhiều loại vật liệu chứa khác nhau để trở thành vật trang trí trong nhà như: Bình hoa tiểu cảnh thủy sinh, Tranh sen đá treo tường, lọ sen đá mini trang trí bàn làm việc...

												Lá cây sen đá nhỏ mọng nước, xếp vòng tròn quanh tâm thành hoa như hoa sen, trông rất đẹp và xinh xắn. Khi đón nhiều nắng, lá cây chuyển màu nâu đỏ thậm chí màu tím biếc, có lẽ chính vì thế mà khi được nhập về Việt Nam, cây được gọi ngay là hoa sen đá.

												Sen đá là loài cây ưa nắng, thường sống ở các vùng đất khô cằn, thiếu chất dinh dưỡng và khô nóng như sa mạc, vùng núi đá. Lá cây dày, mọng chính là để tích nước duy tri sự sống qua những ngày hạn kéo dài.</p>
										</textarea>
                </div>
                <div class="mt-4">
                  <button class="btn btn-primary" type="submit">Lưu thay đổi</button>
                  <a href="categories.html" class="btn btn-link">Hủy</a>
                </div>
              </form>
              <!-- /Form -->
              <!-- Thêm vào nội dung ở đây -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
