
<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">{{'User-edit' | translate}}</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/users']">{{'User-management' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'User-edit' | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{'User-info' | translate}}</h4>
          </div>
          <div class="card-body">
            <form #form="ngForm"  *ngIf="user" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label>{{'Avatar' | translate}}</label>
                <input class="form-control" #avatar="ngModel" type="text" id="avatar" name="avatar" type="text" required  [(ngModel)]="user.avatar" [class.is-invalid]="avatar.invalid">
                <div *ngIf="avatar.errors?.required" class="invalid-feedback">
                  {{'Require-field' | translate}}
                </div>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-md-2">{{'Name' | translate}}</label>
                <div class="col-md-10">
                  <input class="form-control"  #name="ngModel" id="name" name="name" type="text" required minlength="5" maxlength="20"  [(ngModel)]="user.name" [class.is-invalid]="name.invalid">
                  <div *ngIf="name.errors?.required" class="invalid-feedback">
                    {{'Require-field' | translate}}
                  </div>
                  <div *ngIf="name.errors?.minlength" class="invalid-feedback">
                    {{'Least-5' | translate}}
                  </div>
                  <!--                  <div *ngIf="name.errors?.maxlength" class="invalid-feedback">-->
                  <!--                    This field must have at most 20 characters.-->
                  <!--                  </div>-->
                  <!--                  <div *ngIf="name.errors?.namelValidator" class="invalid-feedback">-->
                  <!--                    This name is already has.-->
                  <!--                  </div>-->
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-2">Email</label>
                <div class="col-md-10">
                  <input type="email"  #email="ngModel" class="form-control" required appEmailValidator id="email" name="email"  [(ngModel)]="user.email" [class.is-invalid]="email.invalid">
                  <div *ngIf="email.errors?.required" class="invalid-feedback">
                    {{'Require-field' | translate}}
                  </div>
                  <div *ngIf="email.errors?.emailValidator&&!email.errors?.required" class="invalid-feedback">
                    {{'Invalid-email' | translate}}
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-2">{{'Password' | translate}}</label>
                <div class="col-md-10">
                  <input type="password" #password="ngModel" class="form-control" required minlength="15" id="password" name="password" type="text"  [(ngModel)]="user.password" [class.is-invalid]="password.invalid">
                  <div *ngIf="password.errors?.required" class="invalid-feedback">
                    {{'Require-field' | translate}}
                  </div>
                  <div *ngIf="password.errors?.minlength" class="invalid-feedback">
                    {{'Least-15' | translate}}
                  </div>
                </div>
              </div>
              <!--              <div class="form-group row">-->
              <!--                <label class="col-form-label col-md-2">{{'Date-created' | translate}}</label>-->
              <!--                <div class="cal-icon col-md-10">-->
              <!--                  <input class="form-control datetimepicker" name="date_created" id="date_created" name="date_created" type="date"  [(ngModel)]="user.date_created">-->
              <!--                </div>-->
              <!--              </div>-->
              <div class="mt-4">
                <button  *ngIf="!form.invalid" class="btn btn-primary" type="submit">{{'Save-change' | translate}}</button>
                <a (click)="gotoList()" class="btn btn-link">{{'Exit' | translate}}</a>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{'Comment-list' | translate}}</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0 datatable">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>{{'Date-created' | translate}}</th>
                  <th>{{'Content' | translate}}</th>
                  <th class="text-right">{{'Action' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let comment of comments | async">
                  <td>{{comment.id}}</td>
                  <td>{{comment.date_created}}</td>
                  <td>{{comment.content}}</td>
                  <td class="text-right">
                    <button (click)="deleteComment(comment.id||0)" type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i> {{'Delete' | translate}}</button>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{'Like-list' | translate}}</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0 datatable">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>{{'Date-created' | translate}}</th>
                  <th class="text-right">{{'Action' | translate}}</th>

                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let like of likes | async">
                  <td>{{like.id}}</td>
                  <td>{{like.date_created}}</td>
                  <td class="text-right">
                    <button (click)="deleteLike(like.id||0)"  type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i> {{'Delete' | translate}}</button>
                  </td>

                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
