<div class="container">
  <div class="row">
    <div class="col-8">
      <div>
        <a class="exit-btn" href="#">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="ps-32 pe-32 pb-64">
        <div class="tablist">
          <div class="tablist__item">
            <a href="#" class="tablist__item-link tablist__item-link--active">
              Đăng nhập
            </a>
          </div>
          <div class="tablist__item">
            <a routerLink="/register" class="tablist__item-link">
              Đăng ký
            </a>
          </div>
        </div>
        <form [formGroup]="infoUser" (ngSubmit)="userLogin()">
          <div class="login-form">
            <div class="login-form__item">
              <input id="login-email" class="login-form-input"
                     [(ngModel)]="user.email"
                     formControlName="email"
                     spellcheck="false"
                     type="text" name="user_email"
                     placeholder="Nhập email của bạn" required
                     >
              <div *ngIf="form.email.invalid && (form.email.dirty||form.email.touched)">
                <div *ngIf="form.email.errors">
                  <div *ngIf="form.email.errors.required">
                    <div class="login-form-label--error">
                      Bạn chưa nhập Email
                    </div>
                  </div>
                  <div *ngIf="form.email.errors.email">
                    <div class="login-form-label--error">
                      Email không đúng định dạng
                    </div>
                  </div>
                </div>
              </div>
              <label id="login-label-username" class="login-form-label">EMAIL</label>
            </div>
            <div class="login-form__item">
              <input id="login-password" class="login-form-input" type="password"
                     [(ngModel)]="user.password"
                     formControlName="password"
                     name="password" placeholder="Nhập mật khẩu" required
                     spellcheck="false"
              >
              <div *ngIf="form.password.invalid && (form.password.dirty||form.password.touched)">
                <div *ngIf="form.password.errors">
                  <div *ngIf="form.password.errors.required">
                    <div class="login-form-label--error">
                      Bạn chưa nhập mật khẩu
                    </div>
                  </div>
                </div>
              </div>
              <label id="login-label-password" class="login-form-label">MẬT KHẨU</label>
            </div>

            <div class="route-forget-password">
              <a href="reset_pass.jsp" class="route-forget-password__item">
                Quên mật khẩu?
              </a>
            </div>
              <div *ngIf="infoUser.valid">
                <button type="submit" class="login-submit-btn">Đăng nhập</button>
              </div>
            <div *ngIf="infoUser.invalid">
                <button type="submit" class="signup__form-btn">Đăng nhập</button>
              </div>
<!--              <button class="login-submit-btn">Đăng nhập</button>-->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
