<section id="search-page">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-6" style="justify-content: center">
        <div class="title-page">
          <h1>TÌM KIẾM TRUYỆN</h1>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="search-bar">
          <form class="form-horizontal dropdown" role="search" name="search" action="/search/" autocomplete="off">
            <input id="search-query" class="searchComic" placeholder="Tìm kiếm" name="q" type="text" spellcheck="false" aria-label="Tìm kiếm" value=""
                  [(ngModel)]="comic">
            <button type="submit" aria-label="Nhập tìm kiếm">
              <span class="fa fa-search fa-wp-neutral-1 " aria-hidden="true" style="font-size:18px;"></span>
            </button>
            <input type="hidden" name="ref" value="1">
            <div class="dropdown-menu items" aria-label="search-dropdown">
              <ul aria-label="Tựđộnghoàntất" class="autocomplete-item-container"></ul>
            </div>
            <div class="triangle"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="row" style="justify-content: center">
      <div class="col-lg-9 col-md-7 col-sm-5">
        <div *ngFor="let c of comics | filter: comic">
          <div class="item-card-story">
            <div class="story-card-data hidden-xxs">
              <div class="cover"><img src="{{c.cover_image}}" alt=""></div>
              <div class="story-info">
                <span class="sr-only">{{c.name}}</span>
                <div class="title" aria-hidden="true">{{c.name}}</div>
                <span class="sr-only">  Hoàn thành </span>
                <div class="icon-bar" aria-hidden="true">
                  <div class="tag-item" style="background-color: rgb(141, 86, 16); color: rgb(255, 255, 255); border-radius: 15px; font-size: 10px; padding-left: 4px; padding-right: 4px; font-weight: 500" *ngIf="c.full=='0'">Còn tiếp</div>
                  <div class="tag-item" style="background-color: #1C6F65; color: rgb(255, 255, 255); border-radius: 15px; font-size: 10px; padding-left: 4px; padding-right: 4px; font-weight: 500" *ngIf="c.full=='1'">Hoàn</div>
                </div>
                <div class="preview-infor-description">
                  {{c.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
