
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">{{'Chapter-list' | translate}}</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/comics']">{{'Comic' | translate}}</a></li>
            <li *ngIf="comic" class="breadcrumb-item active">{{comic.name}}</li>
            <li class="breadcrumb-item active">{{'Chapter-list' | translate}}</li>
          </ul>
        </div>
        <div class="col-auto text-right">
          <a [routerLink]="['/add-chapter/'+comic_id]" class="btn btn-primary add-button ml-3">
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="card filter-card" >
      <div class="card-body pb-0">
        <form (ngSubmit)="search(searchTerm)" method="post">
          <div class="row filter-row">
            <div class="col-sm-6 col-md-9">
              <div class="form-group">
                <label>{{'Chapter-name' | translate}}</label>
                <input  [(ngModel)]="searchTerm" name="searchTerm" placeholder="{{'Enter-chapter-name' | translate}}..." class="form-control" type="text">
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Tìm Kiếm</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0 datatable">
                <!-- Thay đổi code ở đây Thay đổi theo file word -->
                <thead>
                <tr>
                  <th>ID</th>
                  <th>{{'Chapter-name' | translate}}</th>
                  <th>{{'Publication-date' | translate}}</th>
                  <th>{{'Comment' | translate}}</th>
                  <th class="text-right">{{'Action' | translate}}</th>
                </tr>
                </thead>
                <!-- Thêm vào nội dung ở đây -->
                <tbody>
                <tr  *ngFor="let chapter of chaptersAll |searchByName: searchTerm">
                  <td>{{chapter.id}}</td>
                  <td>{{chapter.name}}</td>
                  <td>{{chapter.date_created}}</td>
                  <td><a [routerLink]="['/comics/comments/'+comic_id+'/'+chapter.id]">{{'View' | translate}}</a></td>
                  <td class="text-right">
                    <a [routerLink]="['/edit-chapter/'+comic_id+'/'+chapter.id]" class="btn btn-sm bg-success-light mr-2">	<i class="far fa-edit mr-1"></i>{{'Edit' | translate}}</a>
                    <button (click)="deleteChapter(chapter.id||0)" type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i>{{'Delete' | translate}}</button>

                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
