
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Danh sách người dùng</h3>
        </div>
        <div class="col-auto text-right">
          <a [routerLink]="['/add-user']"  class="btn btn-primary add-button ml-3">
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="card filter-card" >
      <div class="card-body pb-0">
        <form (ngSubmit)="search(searchTerm)" method="post">
          <div class="row filter-row">
            <div class="col-sm-6 col-md-9">
              <div class="form-group">
                <label>Tên người dùng</label>
                <input  [(ngModel)]="searchTerm" name="searchTerm" placeholder="Nhập tên người dùng ..." class="form-control" type="text">
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Tìm Kiếm</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /Search Filter -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0 datatable">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Ảnh đại diện</th>
                  <th>Tên</th>
                  <th>Email</th>
                  <th>Mật khẩu</th>
                  <th>Ngày tạo</th>
                  <th>Chỉnh sửa</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of usersAll |searchByName: searchTerm">
                  <td>{{user.id}}</td>
                  <td><img class="rounded service-img mr-1" src="assets/img/categories/cay-de-ban.jpg" alt="Hình ảnh danh mục"></td>
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.password}}</td>
                  <td>{{user.date_created}}</td>
                  <td class="text-right">
                    <a [routerLink]="['/edit-user/'+user.id]" class="btn btn-sm bg-success-light mr-2">	<i class="far fa-edit mr-1"></i> Sửa</a>
                    <button (click)="deleteUser(user.id||0)" type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i> Xóa</button>

                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
