# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DUONGBANHUAN\TaiLieuHocKy2Nam4\CDWeb\ReadyForProject\AngularComicWebProjectWorkSpace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
