<div class="main-completed">
  <div class="completed-title">
    <i class="fas fa-quran"></i>
    <h1>Truyện đã hoàn thành</h1>
  </div>
  <div class="completed-list">
    <a href="#">
      <div class="completed-list-card">
        <div class="completed-list-item-status" style="color: #fff;">Full</div>
        <div class="completed-list-item-img">
          <img src="./img/story_1.jpg">
        </div>
        <h6 class="completed-list-item-title">Hãy nhắm mắt khi anh đến</h6>
      </div>
    </a>

  </div>
</div>
