
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">{{'Comment-edit' | translate}} </h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/comics']">{{'Comic' | translate}}</a></li>
            <li *ngIf="comic" class="breadcrumb-item active"><a [routerLink]="['/comics/'+comic.id+'/chapters']">{{comic.name}}</a></li>
            <li *ngIf="chapter" class="breadcrumb-item"><a [routerLink]="['/comics/comments/'+comic_id+'/'+chapter.id]">{{chapter.name}}</a></li>
            <li class="breadcrumb-item active">{{'Comment-edit' | translate}} </li>
          </ul>
        </div>
        <!-- <div class="col-auto text-right">
          <a class="btn btn-white filter-btn" href="javascript:void(0);" id="filter_search">
            <i class="fas fa-filter"></i>
          </a>
          <a href="add-category.html" class="btn btn-primary add-button ml-3">
            <i class="fas fa-plus"></i>
          </a>
        </div> -->
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="card filter-card" id="filter_inputs">
      <div class="card-body pb-0">
        <form action="#" method="post">
          <div class="row filter-row">

            <!-- thay đổi ở đây ************************ -->
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label>Mã sản phẩm</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label>Tên sản phẩm</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <!-- Thay đổi theo danh sách đề mục -->

            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Chọn</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <!-- <table class="table table-hover table-center mb-0 datatable"> -->
              <!-- Thay đổi code ở đây Thay đổi theo file word -->
              <!-- Form -->
              <form #form="ngForm" *ngIf="comment" (ngSubmit)="onSubmit()">

                <div class="form-group">
                  <label>ID</label>
                  <input readonly class="form-control" type="text" id="id" name="id" type="text" readonly  [(ngModel)]="comment.id">
                </div>
                <div class="form-group">
                  <label>{{'Content' | translate}} </label>
                  <input required #content="ngModel" [class.is-invalid]="content.invalid" class="form-control" type="text" id="content" name="content" type="text" [(ngModel)]="comment.content">
                  <div *ngIf="content.errors?.required" class="invalid-feedback">
                    {{'Require-field' | translate}}
                  </div>
                </div>
                <div class="mt-4">
                  <button *ngIf="!form.invalid" class="btn btn-primary" type="submit">{{'Save-change' | translate}} </button>
                  <a (click)="gotoList()"  class="btn btn-link">{{'Exit' | translate}} </a>
                </div>
              </form>
              <!-- /Form -->
              <!-- Thêm vào nội dung ở đây -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
