
  <div class="page-wrapper">
    <div class="content container-fluid">

      <!-- Page Header -->
      <div class="page-header">
        <div class="row">
          <div class="col">
            <h3 class="page-title">Danh sách truyện</h3>
          </div>
          <div class="col-auto text-right">
            <a class="btn btn-white filter-btn" href="javascript:void(0);" id="filter_search">
              <i class="fas fa-filter"></i>
            </a>
            <a href="add-product.html" class="btn btn-primary add-button ml-3">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- /Page Header -->

      <!-- Search Filter -->
      <div class="card filter-card" id="filter_inputs">
        <div class="card-body pb-0">
          <form action="#" method="post">
            <div class="row filter-row">

              <!-- thay đổi ở đây ************************ -->
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label>Mã sản phẩm</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label>Tên sản phẩm</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <!-- Thay đổi theo danh sách đề mục -->
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label>Category</label>
                  <select class="form-control select">
                    <option>Chọn Danh Mục</option>
                    <option>Cây để bàn</option>
                    <option>Cây dây leo</option>
                    <option>Cây tết</option>
                    <option>Cây thủy sinh</option>
                    <option>Cây trong nhà</option>
                    <option>Cây ngoài vườn</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label>Từ Ngày</label>
                  <div class="cal-icon">
                    <input class="form-control datetimepicker" type="text">
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label>Đến Ngày</label>
                  <div class="cal-icon">
                    <input class="form-control datetimepicker" type="text">
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <button class="btn btn-primary btn-block" type="submit">Chọn</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /Search Filter -->

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0 datatable">
                  <!-- Thay đổi code ở đây Thay đổi theo file word -->
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Ảnh bìa</th>
                    <th>Tên truyện</th>
                    <th>Danh mục</th>
                    <th>Tác giả</th>
                    <th>Ngày xuất bản</th>
                    <th>Quốc gia</th>
                    <th>Chương</th>
                    <th>Hiển thị</th>
                    <th class="text-right">Hành Động</th>
                  </tr>
                  </thead>

                  <!-- Thêm vào nội dung ở đây -->
                  <tbody>
                  <tr  *ngFor="let comic of comics | async ">
                    <td>{{comic.id}}</td>
                    <td><img class="rounded service-img mr-1" src="{{comic.cover_image}}" alt="Hình ảnh danh mục"></td>
                    <td>{{comic.name}}</td>
                    <td>{{comic.category}}</td>
                    <td>{{comic.author}}</td>
                    <td>{{comic.date_created}}</td>
                    <td>{{comic.nation}}</td>
                    <td><a href="comics/{{comic.id}}/chapters">Xem</a></td>
                    <td>
                      <div class="status-toggle">
                        <input id="rating_1" class="check" type="checkbox" checked>
                        <label for="rating_1" class="checktoggle">checkbox</label>
                      </div>
                    </td>
                    <td class="text-right">
                      <a href="edit-comic/{{comic.id}}" class="btn btn-sm bg-success-light mr-2">	<i class="far fa-edit mr-1"></i> Sửa</a>
                      <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i> Xóa</button>

                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

