
  <div class="page-wrapper">
    <div class="content container-fluid">

      <!-- Page Header -->
      <div class="page-header">
        <div class="row">
          <div class="col">
            <h3 class="page-title">{{'Comic-list' | translate}}</h3>
          </div>
          <div class="col-auto text-right">
<!--            <a class="btn btn-white filter-btn" href="javascript:void(0);" id="filter_search">-->
<!--              <i class="fas fa-filter"></i>-->
<!--            </a>-->
            <a [routerLink]="['/add-comic']"   class="btn btn-primary add-button ml-3">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- /Page Header -->

      <!-- Search Filter -->
      <div class="card filter-card" >
        <div class="card-body pb-0">
          <form (ngSubmit)="search(searchTerm)" method="post">
            <div class="row filter-row">
              <div class="col-sm-6 col-md-9">
                <div class="form-group">
                  <label>{{'Comic-name' | translate}}</label>
                  <input  [(ngModel)]="searchTerm" name="searchTerm" placeholder="{{'Enter-comic-name' | translate}} ..." class="form-control" type="text">
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <button class="btn btn-primary btn-block" type="submit">{{'Search' | translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /Search Filter -->

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0 datatable">
                  <!-- Thay đổi code ở đây Thay đổi theo file word -->
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>{{'Cover-image' | translate}}</th>
                    <th>{{'Comic-name' | translate}}</th>
                    <th>{{'Category' | translate}}</th>
                    <th>{{'Author' | translate}}</th>
                    <th>{{'Publication-date' | translate}}</th>
                    <th>{{'Nation' | translate}}</th>
                    <th>{{'Chapter' | translate}}</th>
                    <th class="text-right">{{'Action' | translate}}</th>
                  </tr>
                  </thead>

                  <!-- Thêm vào nội dung ở đây -->
                  <tbody>
                  <tr  *ngFor="let comic of comicsAll |searchByName: searchTerm">
                    <td>{{comic.id}}</td>
                    <td><img class="rounded service-img mr-1" src="{{comic.cover_image}}" alt="Hình ảnh danh mục"></td>
                    <td>{{comic.name}}</td>
                    <td>{{comic.category}}</td>
                    <td>{{comic.author}}</td>
                    <td>{{comic.date_created}}</td>
                    <td>{{comic.nation}}</td>
                    <td><a [routerLink]="['/comics/'+comic.id]+'/chapters'">{{'View' | translate}}</a></td>
                    <td class="text-right">
                      <a [routerLink]="['/edit-comic/'+comic.id]" class="btn btn-sm bg-success-light mr-2">	<i class="far fa-edit mr-1"></i>{{'Edit' | translate}}</a>
                      <button (click)="deleteComic(comic.id||0)" type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i> {{'Delete' | translate}}</button>

                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

