
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Danh sách admin</h3>
        </div>
        <div class="col-auto text-right">
          <a href="add-admin.html" class="btn btn-primary add-button ml-3">
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0 datatable">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Ảnh</th>
                  <th>Tên</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Trạng thái</th>
                  <th>Quyền Admin</th>
                  <th class="text-right">Chỉnh sửa</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>120</td>
                  <td>
                    <img class="rounded service-img mr-1" src="assets/img/categories/cay-de-ban.jpg" alt="Hình ảnh admin"></td>

                  <td>Trịnh Quang Tiến</td>
                  <td>trinhtien2212@gmail.com</td>
                  <td>********</td>
                  <td>
                    <div class="status-toggle">
                      <input id="service_3" class="check" type="checkbox" checked>
                      <label for="service_3" class="checktoggle">checkbox</label>
                    </div>
                  </td>
                  <td>
                    <div class="status-toggle">
                      <input id="service_3" class="check" type="checkbox">
                      <label for="service_3" class="checktoggle">checkbox</label>
                    </div>
                  </td>
                  <td class="text-right">
                    <a href="edit-admin.html" class="btn btn-sm bg-success-light mr-2">	<i class="far fa-edit mr-1"></i> Sửa</a>
                  </td>
                </tr>
                <tr>
                  <td>122</td>
                  <td>
                    <img class="rounded service-img mr-1" src="assets/img/categories/cay-de-ban.jpg" alt="Hình ảnh admin"></td>

                  <td>Dương Bá Nhuận</td>
                  <td>banhuan0202@gmail.com</td>
                  <td>********</td>
                  <td>
                    <div class="status-toggle">
                      <input id="service_3" class="check" type="checkbox" checked>
                      <label for="service_3" class="checktoggle">checkbox</label>
                    </div>
                  </td>
                  <td>
                    <div class="status-toggle">
                      <input id="service_3" class="check" type="checkbox">
                      <label for="service_3" class="checktoggle">checkbox</label>
                    </div>
                  </td>
                  <td class="text-right">
                    <a href="edit-admin.html" class="btn btn-sm bg-success-light mr-2">	<i class="far fa-edit mr-1"></i> Sửa</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
