
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-12">
          <h3 class="page-title">Dashboard</h3>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-qrcode"></i>
									</span>
              <div class="dash-widget-info">
                <h3>{{comicsAll.length}}</h3>
                <h6 class="text-muted">{{'Comic' | translate}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-book-open"></i>
									</span>
              <div class="dash-widget-info">
                <h3>{{chaptersAll.length}}</h3>
                <h6 class="text-muted">{{'Chapter' | translate}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="far fa-user"></i>
									</span>
              <div class="dash-widget-info">
                <h3>{{usersAll.length}}</h3>
                <h6 class="text-muted">{{'User' | translate}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-pen"></i>
									</span>
              <div class="dash-widget-info">
                <h3>{{commentsAll.length}}</h3>
                <h6 class="text-muted">{{'Comment' | translate}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-check-circle"></i>
									</span>
              <div class="dash-widget-info">
                <h3>{{likesAll.length}}</h3>
                <h6 class="text-muted">{{'Like' | translate}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex">

      </div>
    </div>
  </div>
</div>
