
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-12">
          <h3 class="page-title">Dashboard</h3>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="far fa-user"></i>
									</span>
              <div class="dash-widget-info">
                <h3>429</h3>
                <h6 class="text-muted">Người dùng</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-qrcode"></i>
									</span>
              <div class="dash-widget-info">
                <h3>124</h3>
                <h6 class="text-muted">Truyện</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-user-shield"></i>
									</span>
              <div class="dash-widget-info">
                <h3>148</h3>
                <h6 class="text-muted">Lượt xem</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-check-circle"></i>
									</span>
              <div class="dash-widget-info">
                <h3>4</h3>
                <h6 class="text-muted">Lượt thích</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex">

      </div>
    </div>
  </div>
</div>
