<div class="main-new_updated">
  <div class="new_updated-title">
    <i class="fas fa-swatchbook"></i>
    <h1>Truyện mới cập nhật</h1>
  </div>
  <div class="new_updated-content">
    <div class="row">
      <div class="new_updated-content-title col-5">
        <a href="#">
          Hồ ly và thư sinh
        </a>
      </div>
      <div class="new_updated-content-type col-3">
        <a href="#">
          Ngôn tình
        </a>
      </div>
      <div class="new_updated-content-chap col-2">
        <a href="#">
          Chương 50
        </a>
      </div>
      <div class="new_updated-content-time col-2">
        1 giờ trước
      </div>
    </div>
    <div class="row">
      <div class="new_updated-content-title col-5">
        <a href="#">
          Hồ ly và thư sinh
        </a>
      </div>
      <div class="new_updated-content-type col-3">
        <a href="#">
          Ngôn tình
        </a>
      </div>
      <div class="new_updated-content-chap col-2">
        <a href="#">
          Chương 50
        </a>
      </div>
      <div class="new_updated-content-time col-2">
        1 giờ trước
      </div>
    </div>
    <div class="row">
      <div class="new_updated-content-title col-5">
        <a href="#">
          Hồ ly và thư sinh
        </a>
      </div>
      <div class="new_updated-content-type col-3">
        <a href="#">
          Ngôn tình
        </a>
      </div>
      <div class="new_updated-content-chap col-2">
        <a href="#">
          Chương 50
        </a>
      </div>
      <div class="new_updated-content-time col-2">
        1 giờ trước
      </div>
    </div>
    <div class="row">
      <div class="new_updated-content-title col-5">
        <a href="#">
          Hồ ly và thư sinh
        </a>
      </div>
      <div class="new_updated-content-type col-3">
        <a href="#">
          Ngôn tình
        </a>
      </div>
      <div class="new_updated-content-chap col-2">
        <a href="#">
          Chương 50
        </a>
      </div>
      <div class="new_updated-content-time col-2">
        1 giờ trước
      </div>
    </div>
  </div>
</div>
