
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">{{'Chapter-add' | translate}}</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/comics']">{{'Comic' | translate}}</a></li>
            <li *ngIf="comic" class="breadcrumb-item active"><a [routerLink]="['/comics/'+comic.id+'/chapters']">{{comic.name}}</a></li>
            <li class="breadcrumb-item active">{{'Chapter-add' | translate}}</li>
          </ul>
        </div>

      </div>
    </div>
    <!-- /Page Header -->



    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">

            <form #form="ngForm"  (ngSubmit)="onSubmit()">

              <div class="form-group">
                <label>{{'Chapter-name' | translate}}</label>
                <input  required #chapterName="ngModel" [class.is-invalid]="chapterName.invalid" class="form-control" type="text" id="name" name="name" [(ngModel)]="chapter.name">
                <div *ngIf="chapterName.errors?.required" class="invalid-feedback">
                  {{'Require-field' | translate}}
                </div>
              </div>
              <div class="form-group">
                <label>{{'Publication-date' | translate}}</label>
                <input  required #publicationDate="ngModel" [class.is-invalid]="publicationDate.invalid" class="form-control" type="date" id="date_created" name="date_created" [(ngModel)]="chapter.date_created">
                <div *ngIf="publicationDate.errors?.required" class="invalid-feedback">
                  {{'Require-field' | translate}}
                </div>
              </div>
              <div>
                <label>{{'Content' | translate}}</label>
                <textarea  required #content="ngModel" [class.is-invalid]="content.invalid" style="height: 400px;" name="" class="form-control" id="content" name="content" type="text"  [(ngModel)]="chapter.content"></textarea>
                <div *ngIf="content.errors?.required" class="invalid-feedback">
                  {{'Require-field' | translate}}
                </div>
              </div>
              <div class="mt-4">
                <button  *ngIf="!form.invalid" class="btn btn-primary" type="submit">{{'Save-change' | translate}}</button>
                <a (click)="gotoList()" class="btn btn-link">{{'Exit' | translate}}</a>
              </div>
            </form>
            <!-- /Form -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
