
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Thêm chương mới</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/comics']">Truyện</a></li>
            <li *ngIf="comic" class="breadcrumb-item active"><a [routerLink]="['/comics/'+comic.id+'/chapters']">{{comic.name}}</a></li>
            <li class="breadcrumb-item active">Thêm chương mới</li>
          </ul>
        </div>

      </div>
    </div>
    <!-- /Page Header -->



    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">

            <form (ngSubmit)="onSubmit()">

              <div class="form-group">
                <label>Tên</label>
                <input class="form-control" type="text" id="name" name="name" [(ngModel)]="chapter.name">
              </div>
              <div class="form-group">
                <label>Ngày xuất bản</label>
                <input class="form-control" type="date" id="date_created" name="date_created" [(ngModel)]="chapter.date_created">
              </div>
              <div>
                <label>Nội dung</label>
                <textarea style="height: 400px;" name="" class="form-control" id="content" name="content" type="text"  [(ngModel)]="chapter.content"></textarea>
              </div>
              <div class="mt-4">
                <button class="btn btn-primary" type="submit">Lưu thay đổi</button>
                <a (click)="gotoList()" class="btn btn-link">Hủy</a>
              </div>
            </form>
            <!-- /Form -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
