
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Thêm chương mới</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="blog.html">Truyện</a></li>
            <li class="breadcrumb-item"><a href="blog.html">Những ngày thơ bé</a></li>
            <li class="breadcrumb-item active">Thêm chương mới</li>
          </ul>
        </div>

      </div>
    </div>
    <!-- /Page Header -->



    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">

            <form action="categories.html">

              <div class="form-group">
                <label>Tên</label>
                <input class="form-control" type="text" value="">
              </div>
              <div class="form-group">
                <label>Tóm tắt</label>
                <textarea style="height: 100px;" class="form-control" type="text"></textarea>
              </div>
              <div class="form-group">
                <label>Ngày xuất bản</label>
                <input class="form-control" type="date" value="01/01/2022">
              </div>
              <div>
                <label>Nội dung</label>
                <textarea name="" id="textExample" cols="30" rows="10">

										</textarea>
              </div>
              <div class="mt-4">
                <button class="btn btn-primary" type="submit">Lưu thay đổi</button>
                <a href="categories.html" class="btn btn-link">Hủy</a>
              </div>
            </form>
            <!-- /Form -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
