<div class="container">

  <div class="row">
    <div class="col-8">
      <div>
        <a class="exit-btn" href="#">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="ps-32 pe-32 pb-64">
        <div class="tablist">
          <div class="tablist__item">
            <a routerLink="/login" class="tablist__item-link">
              Đăng nhập
            </a>
          </div>
          <div class="tablist__item">
            <a href="#" class="tablist__item-link tablist__item-link--active">
              Đăng ký
            </a>
          </div>
        </div>

        <form [formGroup]="registerUser" (ngSubmit)="onSubmit()">
          <div class="signup-formRegister">
            <div class="signup__form-item">
              <label id="signup-label-email"
                     class="signup__form-item-label">EMAIL</label>
              <input id="signup-input-email" type="email" name="email"
                     class="signup__form-item-input"
                     placeholder="user@gmail.com"
                     spellcheck="false"
                     formControlName="email"
              >
              <div *ngIf="formRegister.email.invalid && (formRegister.email.dirty||formRegister.email.touched)">
                <div *ngIf="formRegister.email.errors">
                  <div *ngIf="formRegister.email.errors.required">
                    <div class="signup__form-item-label--error">
                      BẠN CHƯA NHẬP EMAIL
                    </div>
                  </div>
                  <div *ngIf="formRegister.email.errors.email">
                    <div class="signup__form-item-label--error">
                      EMAIL CHƯA ĐÚNG ĐỊNH DẠNG
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signup__form-item">
              <label id="signup-label-username" class="signup__form-item-label">HỌ VÀ TÊN</label>
              <input id="signup-input-username" type="text" name="username" class="signup__form-item-input"
                     placeholder="Nguyễn Văn An"
                     spellcheck="false"
                     formControlName="name"
              >
              <div *ngIf="formRegister.name.invalid && (formRegister.name.dirty||formRegister.name.touched)">
                <div *ngIf="formRegister.name.errors">
                  <div *ngIf="formRegister.name.errors.required">
                    <div class="signup__form-item-label--error">
                      BẠN CHƯA NHẬP HỌ VÀ TÊN
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signup__form-item">
              <label id="signup-label-password" class="signup__form-item-label">MẬT KHẨU</label>
              <input id="signup-input-password" type="password" name="password"
                     class="signup__form-item-input"
                     placeholder="Nhập mật khẩu"
                     formControlName="password"
              >
              <div *ngIf="formRegister.password.invalid && (formRegister.password.dirty||formRegister.password.touched)">
                <div *ngIf="formRegister.password.errors">
                  <div *ngIf="formRegister.password.errors.required">
                    <div class="signup__form-item-label--error">
                      BẠN CHƯA NHẬP MẬT KHẨU
                    </div>
                  </div>
                  <div *ngIf="formRegister.password.errors.minLength">
                    <div class="signup__form-item-label--error">
                      ĐỘ DÀI MẬT KHẨU ÍT NHẤT 8 KÝ TỰ
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" id="signup__form-btn" class="signup__form-btn" disabled>
              ĐĂNG KÝ
            </button>

            <div class="route-login">
              <span class="route-login__text">Bạn đã có tài khoản?</span>
              <a routerLink="/login" class="route-login__link">
                Đăng nhập
              </a>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
