<div class="container">

  <div class="row">
    <div class="col-8">
      <div>
        <a class="exit-btn" href="#">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="ps-32 pe-32 pb-64">
        <div class="tablist">
          <div class="tablist__item">
            <a routerLink="/login" class="tablist__item-link">
              Đăng nhập
            </a>
          </div>
          <div class="tablist__item">
            <a href="#" class="tablist__item-link tablist__item-link--active">
              Đăng ký
            </a>
          </div>
        </div>

        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate>
          <div class="signup-formRegister">
            <div class="signup__form-item">
              <label id="signup-label-username" class="signup__form-item-label">TÊN ĐĂNG NHẬP</label>
              <input type="text"
                     class="signup__form-item-input"
                     name="username"
                     [(ngModel)]="form.username"
                     required
                     minlength="3"
                     maxlength="20"
                     #username="ngModel"
              >
              <div class="alert-danger" *ngIf="username.errors && f.submitted">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">
                  Username must be at least 3 characters
                </div>
                <div *ngIf="username.errors.maxlength">
                  Username must be at most 20 characters
                </div>
              </div>
            </div>
            <div class="signup__form-item">
              <label id="signup-label-email"
                     class="signup__form-item-label">EMAIL</label>
              <input id="signup-input-email" type="email"
                     class="signup__form-item-input"
                     name="email"
                     [(ngModel)]="form.email"
                     required
                     email
                     #email="ngModel"
              >
              <div class="alert-danger" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>

            <div class="signup__form-item">
              <label id="signup-label-password" class="signup__form-item-label">MẬT KHẨU</label>
              <input id="signup-input-password"  type="password"
                     class="signup__form-item-input"
                     name="password"
                     [(ngModel)]="form.password"
                     required
                     minlength="6"
                     #password="ngModel"
              >
              <div class="alert-danger" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <button type="submit" id="signup__form-btn" class="signup__form-btn">
              ĐĂNG KÝ
            </button>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Signup failed!<br />{{ errorMessage }}
            </div>

            <div class="route-login">
              <span class="route-login__text">Bạn đã có tài khoản?</span>
              <a routerLink="/login" class="route-login__link">
                Đăng nhập
              </a>
            </div>
            <div class="alert alert-success" *ngIf="isSuccessful">
              Your registration is successful!
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
