
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Thêm truyện</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/comics']">Truyện</a></li>
            <li class="breadcrumb-item active">Thêm truyện</li>
          </ul>
        </div>

      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">

              <div class="form-group">
                <label>Ảnh bìa</label>
<!--                <input class="form-control" type="file">-->
                <input [(ngModel)]="comic.cover_image" id="cover_image" name="cover_image" class="form-control" type="text" value="">
              </div>
<!--              <div class="form-group">-->
<!--                <div class="avatar">-->
<!--                  <img class="avatar-img rounded" alt="" src="">-->
<!--                </div>-->
<!--              </div>-->
              <div class="form-group">
                <label>Tên Truyện</label>
                <input [(ngModel)]="comic.name" id="name" name="name" class="form-control" type="text" value="">
              </div>
              <div class="form-group">
                <label>Tác giả</label>
                <input [(ngModel)]="comic.author" id="author" name="author" class="form-control" type="text" value="">
              </div>
              <div class="form-group">
                <label>Quốc gia</label>
                <input [(ngModel)]="comic.nation" id="nation" name="nation" class="form-control" type="text" value="">
              </div>
              <div class="form-group">
                <label>Số chương</label>
                <input [(ngModel)]="comic.chapter_number" id="chapter_number" name="chapter_number" class="form-control" type="text" value="">
              </div>
              <div class="form-group">
                <label>Ngày xuất bản</label>
                <input [(ngModel)]="comic.date_created" id="date_created" name="date_created" class="form-control" type="date" value="">
              </div>
              <div class="form-group">
                <label>Chọn danh mục</label><br>
                <select [(ngModel)]="comic.category"  id="category" name="category" class="form-control select">
                  <option  *ngFor="let o of options">
                    {{o.name}}
                  </option>
                </select>
              </div>
              <div class="status-toggle">
                <input [(ngModel)]="comic.display"  id="display" name="display"  type="checkbox">
                <label style="margin-left: 2px">Hiển thị</label>
                <br>
                <input [(ngModel)]="comic.full"  id="full" name="full"  type="checkbox">
                <label style="margin-left: 2px">Hoàn thành</label>
<!--                <input id="rating_2" class="check" type="checkbox" checked>-->
<!--                <label for="rating_2" [(ngModel)]="comic.display" [ngModelOptions]="{standalone: true}" id="display" name="display" class="checktoggle">checkbox</label>-->
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <textarea [(ngModel)]="comic.description" id="description" name="description"  style="height: 100px;" class="form-control" type="text"></textarea>
              </div>
<!--              <div class="status-toggle">-->
<!--                <label>Hiển thị ở mục nổi bật</label>-->
<!--                <input id="rating_3" class="check" type="checkbox" checked>-->
<!--                <label for="rating_3" class="checktoggle">checkbox</label>-->
<!--              </div>-->
<!--              <div class="status-toggle">-->
<!--                <label>Hiển thị mới nhất</label>-->
<!--                <input id="rating_4" class="check" type="checkbox" checked>-->
<!--                <label for="rating_4" class="checktoggle">checkbox</label>-->
<!--              </div>-->
              <div class="mt-4">
                <button class="btn btn-primary" type="submit">Lưu thay đổi</button>
                <a (click)="gotoList()" class="btn btn-link">Hủy</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
