<div class="reading-funbar">
  <div id="funbar-story" class="dropdown">
    <button id="funbar-part-details" type="button" class="btn btn-toc dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="toc-full">
              <span class="cover cover-xxs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="[EDIT] (Quyển 1) Xuyên nhanh: Sau khi nữ chính phản diện đạt levelmax">
              <img src="https://img.wattpad.com/cover/308679467-64-k872699.jpg" alt="[EDIT] (Quyển 1) Xuyên nhanh: Sau khi nữ chính phản diện đạt levelmax">
              </span>
              <span class="info">
                <h2 class="title h5">
                [EDIT] (Quyển 1) Xuyên nhanh: Sau khi nữ chính phản diện đạt levelmax

                </h2>
                <span class="author h6">by -tinhtinhnha-</span>
              </span>
            <!--            <span class="fa fa-down fa-wp-neutral-2 " aria-hidden="true" style="font-size:20px;"></span>-->
          </span>
    </button>
    <div class="dropdown-menu" aria-labelledby="funbar-part-details">
      <div class="toc-header text-center">
        <h6><a class="on-navigate" href="/story/308679467-edit-quy%E1%BB%83n-1-xuy%C3%AAn-nhanh-sau-khi-n%E1%BB%AF-ch%C3%ADnh-ph%E1%BA%A3n">[EDIT] (Quyển 1) Xuyên nhanh: Sau khi nữ chính phản diện đạt levelmax</a></h6>
      </div>
      <ul class="table-of-contents">
        <li class="">
          <a class="on-navigate" href="/1218438531-edit-quy%E1%BB%83n-1-xuy%C3%AAn-nhanh-sau-khi-n%E1%BB%AF-ch%C3%ADnh-ph%E1%BA%A3n">
            <div class="part-title">
              Văn án demo
            </div>
          </a>
        </li>
        <li class="">
          <a class="on-navigate" href="/1218903448-edit-quy%E1%BB%83n-1-xuy%C3%AAn-nhanh-sau-khi-n%E1%BB%AF-ch%C3%ADnh-ph%E1%BA%A3n">
            <div class="part-title">
              Chương 1: Sau khi bị bắt trở thành đỉnh lưu(*)(1)
            </div>
          </a>
        </li>
        <li class="">
          <a class="on-navigate" href="/1218903451-edit-quy%E1%BB%83n-1-xuy%C3%AAn-nhanh-sau-khi-n%E1%BB%AF-ch%C3%ADnh-ph%E1%BA%A3n">
            <div class="part-title">
              Chương 2: Sau khi bị bắt trở thành đỉnh lưu(2)
            </div>
          </a>
        </li>
        <li class="">
          <a class="on-navigate" href="/1218903459-edit-quy%E1%BB%83n-1-xuy%C3%AAn-nhanh-sau-khi-n%E1%BB%AF-ch%C3%ADnh-ph%E1%BA%A3n">
            <div class="part-title">
              Chương 3: Sau khi bị bắt trở thành đỉnh lưu(3)
            </div>
          </a>
        </li>
        <li class="">
          <a class="on-navigate" href="/1218903503-edit-quy%E1%BB%83n-1-xuy%C3%AAn-nhanh-sau-khi-n%E1%BB%AF-ch%C3%ADnh-ph%E1%BA%A3n">
            <div class="part-title">
              Chương 4: Sau khi bị bắt trở thành đỉnh lưu(4)
            </div>
          </a>
        </li>
        <li class="">
          <a class="on-navigate" href="/1218903509-edit-quy%E1%BB%83n-1-xuy%C3%AAn-nhanh-sau-khi-n%E1%BB%AF-ch%C3%ADnh-ph%E1%BA%A3n">
            <div class="part-title">
              Chương 5: Sau khi bị bắt trở thành đỉnh lưu(5)
            </div>
          </a>
        </li>
        <li class="active">
          <a class="on-navigate" href="/1236903856-edit-quy%E1%BB%83n-1-xuy%C3%AAn-nhanh-sau-khi-n%E1%BB%AF-ch%C3%ADnh-ph%E1%BA%A3n">
            <div class="part-title">
              Lịch đăng truyện
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div id="funbar-controls">
    <div class="button-group relative inline-block">
      <button class="btn-add">
        <i class="fas fa-plus" style="font-size: 14px"></i>
      </button>
    </div>
    <div class="button-group relative inline-block">
      <button class="btn btn-link on-vote" data-story-id="1236903856">
        <i class="far fa-star star"></i>
        <span class="hidden-mobile hidden-xs hidden-sm story-vote">Bình chọn</span>
      </button>
      <button class="btn btn-link on-vote" data-story-id="1236903856">
        <i class="fas fa-star star"></i>
        <span class="hidden-mobile hidden-xs hidden-sm story-vote">Đã bình chọn</span>
      </button>
      <div id="vote-tool-tip" data-toggle="tooltip" data-placement="bottom" data-original-title="There was an error registering your vote"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row part-header">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <header class="panel panel-reading text-center">
        <h1 class="h2"> Chương 55: Bài ca ngẫu hứng ngày tận thế (25)
        </h1>
        <div class="story-stats">
          <span class="reads">
            <i class="far fa-eye" style="font-size: 14px"></i> 56
          </span>
          <span class="votes">
            <i class="far fa-star" style="font-size: 14px"></i> 22
          </span>
          <span class="comments on-comments">
            <i class="fas fa-comment"></i> 0
          </span>
        </div>
        <div class="author hidden-lg">
          <a class="on-navigate avatar avatar-sm center-block" href="/user/-tinhtinhnha-">
            <img class="on-hover" data-toggle="tooltip" data-placement="right" title="" alt="Writer: -tinhtinhnha-" src="https://img.wattpad.com/useravatar/-tinhtinhnha-.24.863001.jpg" data-original-title="Writer: -tinhtinhnha-">
          </a>
          by <a class="on-navigate" href="/user/-tinhtinhnha-">-tinhtinhnha-</a>
        </div>
      </header>
    </div>
  </div>
</div>
<div class="container" id="sticky-end">
  <div oncontextmenu="return false;" class="row part-content">
    <div class="col-md-1 col-lg-3 hidden-sm hidden-xs left-rail" style="">
      <div id="sticky-nav">
        <div class="author-info center-text hidden-sm hidden-md">
          <div class="avatar avatar-lg center-block">
            <a class="on-navigate" href="/user/-tinhtinhnha-">
              <img src="https://img.wattpad.com/useravatar/-tinhtinhnha-.128.863001.jpg">
            </a>
          </div>
          <div class="info">
            <a class="on-navigate" href="/user/-tinhtinhnha-">
              <span class="center-block">by <strong>-tinhtinhnha-</strong></span>
            </a>
            <button class="btn-fan on-unfollow btn-teal" data-target="-tinhtinhnha-"><i class="fas fa-user-check"></i><span class="follow-text">Đang theo dõi</span></button>
            <button class="btn-on-follow"><i class="fas fa-user-plus"></i><span class="follow-text">Theo dõi</span></button>
          </div>
        </div>
      </div>
    </div>
    <div id="sp1237744284-pg1" data-page-number="1" class="page highlighter col-md-11 col-lg-9">
      <p> Hôm nay Nghê Lam đến Blue có việc. Cô bấm thang máy đi thẳng đến tầng của bộ phận hành chính và kỹ thuật. Vừa ra khỏi thang máy thì gặp hai nhân viên đeo thẻ Blue, bọn họ đang chuẩn bị xuống lầu, nhìn thấy Nghê Lam thì ngẩn người, biểu cảm có chút quái dị, chỉ lịch sự gật đầu với Nghê Lam một cái, sau đó cắm đầu chạy vào thang máy giống như bị lửa đốt mông.
        Giống như muốn cười lại cố nhịn, sợ ở lâu một giây sẽ cười tới đánh rắm vậy.
        Nghê Lam: “…”
        Nghê Lam đi vào nhà vệ sinh, soi gương kiểm tra bản thân. Hôm nay cô sẽ họp với phòng kỹ thuật về hệ thống an ninh, cô cố ý ăn mặc theo phong cách công sở. Áo sơ mi trắng bằng lụa, áo vest thắt eo màu xanh nhạt, quần tây ống đứng, giày cao gót. Set đồ này là do bạn trai Lam Diệu Dương đích thân chọn cho cô.
        Quần áo không có vấn đề, không quá già dặn nhưng lại rất chuyên nghiệp, rất có khí chất nữ nhân viên ở công ty. Mặt cũng không có vấn đề, cô thậm chí còn không trang điểm, buổi sáng chỉ thoa kem dưỡng da, lúc ra ngoài chỉ kẻ chân mày bôi chút son.
        Dấu hôn ngay cổ đã được cổ áo che kỹ, cô xoay cổ, nhìn cũng không thấy ngay cả ở nhiều góc độ khác nhau.
        Nghê Lam đưa tay chỉ vào gương: “Được rồi, ngoại trừ dáng dấp thật xinh đẹp ra mày không có gì phải chột dạ.”
        Nghê Lam ngẩng đầu ưỡn ngực đi ra ngoài. Lúc đi vào khu văn phòng, ánh mắt sắc bén của cô nhìn thấy có hai nhân viên thấy cô thì nhanh chóng cúi đầu, giấu mặt sau tấm vách chia bàn làm việc. Chỉ là trước khi bọn họ cúi đầu xuống, khoé miệng mỉm cười vẫn bị cô thấy được.
      </p>
      <p>
        Nghê Lam: “…”
        Trước phòng họp đã định còn có một nhà vệ sinh. Nghê Lam quẹo vào.
        Ở sau lưng cô không xa, một vị khách trong phòng họp nhìn thấy Nghê Lam, anh hỏi vị quản lý cấp giữa của Blue: “Người kia có phải Nghê Lam không?”
        “Đúng vậy.” Tất cả nhân viên Blue hết sức quen thuộc với cô bạn gái của thái tử gia tập đoàn này.
        Vị khách kia liền cười: “Nghê Lam không phải là nghệ sỹ của Blue sao, sao lại vào phòng kỹ thuật? Tôi đọc trên mạng thấy họ nói các anh cho nghệ sỹ làm lập trình viên, chẳng lẽ là thật?”
        “Trên mạng còn nói Blue chúng tôi cho Nghê Lam làm bảo vệ đó.” Mấy nhân viên ở trong tầng lúc này cũng cười.
        “Cô ấy thực sự đấu súng với phần tử tội phạm à?” Vị khách kia không nhịn được nhiều chuyện.
        “Những vụ đó tôi không thấy được, không dám nói. Nhưng kỹ năng về internet của cô ấy rất đỉnh. Lão Hồ bọn họ cải tiến hệ thống an ninh camera theo dõi đều phải nghe lời cô ấy. Tôi và bọn họ từng họp một lần. Lúc mới đầu mọi người vẫn rất chướng mắt cô ấy, nhưng mấy vụ liên quan tới kỹ thuật này nọ thì không thể coi tướng mạo và tuổi tác, code chạy một vòng là rõ ràng hết. Không phục cũng phải chịu, người ta lợi hại như vậy mà.”
        Vị khách rất kinh ngạc: “Siêu như vậy còn làm nghệ sĩ? Tôi thấy tiểu Lam tổng của các anh hình như còn mở một văn phòng vì cô ấy thì phải.”
        “Đúng rồi, tên là Nhị Lam Thần.” Nhân viên Blue kia nói: “Văn phòng kia cũng không tính là phòng làm việc của nghệ sĩ, tiểu Lam tổng nói rồi, công việc gì cũng tiếp nhận, chỉ cần anh ấy và Nghê Lam đồng ý.”
        “Tiểu Lam tổng hiện tại rất lộ liễu nha.”
      </p>

    </div>
  </div>

</div>
<footer>
  <div class="container">
    <div class="row part-content">
      <div class="part-navigation center-block">
        <a href="#" class="btn-direct-part btn-pre-part">
          <span class="blue next-up">
            <i class="fas fa-angle-left"></i>
            Chương trước</span>
        </a>
        <a href="#" class="btn-direct-part btn-part">
          <span class="blue next-up"><i class="fas fa-align-justify"></i></span>
        </a>
        <a href="#" class="btn-direct-part btn-con-part">
                      <span class="blue next-up">Chương sau
                      <i class="fas fa-angle-right"></i></span>
        </a>
      </div>
    </div>
  </div>
</footer>
